body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 200px;
}
.nav-bar img{
   object-fit: scale-down;
}

.nav-button{
    padding: 75px ;
}
.btn{
    
}

.stage{
    padding: 0 0 0 100px;
    display: flex;

}

.me{
    height: 300px;
}
.me img{
    object-fit: cover;

}
/*

*/