@import '../../node_modules/bootstrap/scss/bootstrap.scss';


.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    //repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 200px 100px 300px 400px 100px auto;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        ". . n1 . . n2 . . n3 . . ."
        "w w w w w t t t t t t t"
        "v v v v v v v v v v v v"
        "k k k k k k k k k k k k"
        "f f f f f f f f f f f f";

body{
    font-family: 'Special Elite', cursive;
}

.main-header {
    grid-area: h;
    background-color: $pool;
    text-align: center;
    padding: 100px 0 0 0;
    color: $brown;
    text-shadow:1px 2px 2px $orange;
}
.main-header h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
}

.main-header h2{
    margin: 50px 0 120px 0;
    margin-top: 80px;
}

.main-nav {
  grid-area: n;
  padding: 40px;
  margin-top: auto;
}

.n1{
  grid-area: n1;
}

.n2{
  grid-area: n2,
}

.n3{
  grid-area: n3;
}

.custom-button{
  background-color: $sand;
  color: white;
  box-shadow: 2px 2px 10px $brown;
}

//main{
//    height: 70vh;
//}

.skill_btn{
    display: block;
    color: white;
    list-style: none;
    padding: 15px;
    font-size: 1.2em;
    text-shadow: 2px 2px 6px $brown;
}

.skill_btn li{
    background-color: $sand;
    display: inline-block;
    width: max-content;
    margin: 5px;
    padding: 2px 10px;
    border-radius: 5px;
}

.web{
  grid-area: w;
    text-align: center;
    background-color:$sky;
    padding: 20px;
}

.web h3{
    // font-family: 'Permanent Marker', cursive;
    text-shadow:1px 2px 2px $orange;
}

.tool{
    grid-area: t;
    text-align: center;
    background-color:$sky;
    padding: 20px;
}

.tool h3{
    // font-family: 'Permanent Marker', cursive;
    text-shadow:1px 2px 2px $orange;
}

.social{
    text-align: center;
    text-shadow:1px 2px 10px $orange;
    border-radius: 5px;
}

.social h3{
    // font-family: 'Permanent Marker', cursive;
    text-shadow:1px 2px 2px $orange;
}

.vita{
    grid-area: v;
    text-align: center;
    padding: 50px 0 25px 0;
    margin-top: 20px;
    background-color: $pool;
    height: max-content;
}

.vita h4{
    text-shadow: 1px 2px 2px $orange;
    color: white;
}

.kontakt{
  grid-area: k;
  background-color: $pool;
}

footer{
  grid-area: f;
    background-color: $sky;}